@model LightAndLens.WebApp.Models.NotificationsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Notification</h1>


<div class="tab-content" id="myTabContent">

    @foreach(var notification in Model.NotificationList)
    {
    <h1>f</h1>    
    }

<div/>